absl-py
pywinauto
alembic
altair
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
astunparse
async-lru
attrs
Babel
backcall
bcrypt
beautifulsoup4
bleach
blinker
blis
bson
cachetools
catalogue
certifi
cffi
setuptools
wheel
channels
charset-normalizer
click
cloudpathlib
colorama
comm
confection
contourpy
cssselect
cycler
cymem
debugpy
decorator
defusedxml
Django
django-allauth
dnspython
docx2txt
ecdsa
email_validator
entrypoints
executing
Faker
fastapi
fastapi-cli
fastjsonschema
favicon
ffmpeg
filelock
fire
Flask
Flask-Bcrypt
Flask-Cors
Flask-Login
Flask-Mail
Flask-Migrate
Flask-PyMongo
Flask-SQLAlchemy
Flask-WTF
flatbuffers
fonttools
fqdn
fsspec
gast
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-auth
google-auth-oauthlib
google-cloud-speech
google-cloud-texttospeech
google-generativeai
google-pasta
googleapis-common-protos
googlesearch-python
greenlet
grpcio
grpcio-status
h11
h2
h5py
hpack
htbuilder
httpcore
httptools
httpx
hyperframe
idna
importlib-metadata
intel-openmp
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
jmespath
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras
kiwisolver
langcodes
language_data
libclang
lxml
Mako
marisa-trie
Markdown
markdown-it-py
markdownlit
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mediapipe
mistune
mkl
more-itertools
mpmath
murmurhash
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
ntscraper
numpy
oauthlib
opencv-contrib-python
opencv-python
opt-einsum
orjson
overrides
packaging
pandas
pandocfilters
parsel
parso
passlib
pickleshare
Pillow
platformdirs
praw
prawcore
preshed
prometheus-client
prompt-toolkit
proto-plus
protobuf
psutil
pure-eval
pvporcupine
pyarrow
pyasn1
pyasn1-modules
PyAudio
pycparser
pydantic
pydantic_core
pydeck
pydub
Pygments
PyJWT
pymdown-extensions
pymongo
PyMuPDF
PyMuPDFb
pyparsing
PyPDF2
pytesseract
python-dateutil
python-dotenv
python-jose
python-json-logger
python-multipart
pytz
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
regex
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
scikit-learn
scipy
Send2Trash
shellingham
six
smart-open
smmap
sniffio
sounddevice
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
sqlparse
srsly
st-annotated-text
stack-data
starlette
streamlit
streamlit-camera-input-live
streamlit-card
streamlit-embedcode
streamlit-extras
streamlit-faker
streamlit-image-coordinates
streamlit-keyup
streamlit-toggle-switch
streamlit-vertical-slider
sympy
tbb
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminado
thinc
threadpoolctl
tinycss2
toml
toolz
torch
tornado
tqdm
traitlets
typer
typing_extensions
tzdata
tzlocal
ujson
update-checker
uri-template
urllib3
uvicorn
validators
w3lib
wasabi
watchdog
watchfiles
wcwidth
weasel
webcolors
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
wrapt
WTForms
zipp
